.App{
  display: flex;
  background-image: linear-gradient(to right,rgb(147, 58, 248),rgb(250, 174, 92)); 
    background-attachment: fixed;
    align-items: center;
    justify-content: space-around;
}